@tailwind base;
@tailwind components;
@tailwind utilities;

#sidebar{
    height: 41rem;
}

#bgi{
    background-image: url('./assets/img.jpg');
}
#gif{
    background-image: url('./assets/loading-2.gif');
}