@tailwind base;
@tailwind components;
@tailwind utilities;
@media (max-width: 900px) {
    .table-responsive {
      overflow-x: auto;
    }
  }
#sidebar{
    height: 50rem;
}

#bgi{
    background-image: url('./assets/img.jpg');
}
#gif{
    background-image: url('./assets/loading-2.gif');
}